
body{
    margin:3rem;
}
.search-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.label{
    font-size: large;
    color: #7a8726;
    font-weight: bolder;
    margin-top: 6px;
}

input{
    padding: 0.8rem;
    font-size: 1rem;
    width: 18rem;
}



select{
    padding: 0.8rem;
    font-size: 1rem;
    width: 20rem;
}



.button-search{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    text-align: center;
}

.button-search button{
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: #7a8726;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    padding-left: 1px;
}

.domain-dropdown{
    max-height: 50px;
    overflow-y: auto;
}

.city-dropdown{
    max-height: 50px;
    overflow-y: auto;
}

.search-icon{
    padding-top: 3px;
    padding-left: 2px;
    position: absolute;
}

.card{
    margin:auto;
    max-width: 84%;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(9, 9, 9, 0.461);
}

.card:hover{
    background-color: rgb(223, 229, 235);
}


.card-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-title img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.logo-title title{
    display: inline;
}

.logo-title{
    display: flex;
}

.logo-title .title{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    margin-top: -5px;
}

.title-li{
    display: block;
    margin-right: 2rem;
    list-style: none;
    margin-left: 5px;
}

.company-icon{
    margin-right: 5px;
}

.details-icon{
    padding-right: 5px;
}

.details-list-ul{
    padding-left: 15px;
    margin-top: 0.5rem;
    padding-bottom: 3px;
}

.details-list-ul li{
    list-style: none;
    margin-bottom: 3px;
}

.details-list{
    display: flex;
    justify-content: space-between;
}

.details-list button{
    height: 2rem;
    width: 6rem;
    text-align: center;
    margin-top: 3rem;
    margin-right: 1rem;
    border: none;
    background-color: #7a8726;
    border-radius: 3px;
    cursor: pointer;
}

.details-list button:hover{
    transform: translateY(-1px);
    box-shadow: 2px 2px rgba(44, 43, 43, 0.454);
}

.card-top{
    display: flex;
    justify-content: space-between;
}

.card-top .ends-on{
    margin: 2rem;
}

.expired{
    background-color: rgba(225, 69, 69, 0.251);
    color: red;
    padding:6px;
    border-radius: 5px;
}

.not-expired{
    background-color: rgba(73, 218, 73, 0.374);
    color: green;
    padding: 6px;
    border-radius: 5px;
}

.apply-button-link{
    text-decoration: none;
    color: black;
}