.create-job{
    width: 80%;
    background: linear-gradient(to bottom right,rgb(55, 158, 227),rgb(18, 74, 163));
    padding: 6px;
}

.create-job .form button{
    display:block;
    margin:auto;
    width:7rem;
    padding:0.4rem;
    background-color:skyblue;
    margin-top: 1rem;
}

.create-job .form button:active{
   background-color: rgb(8, 64, 103);
}